<form method="get" action="..\Ogrenci\OgrKaydet">
    <label for="fname"></label><br>
    <input type="text" id="fname" name="fname" placeholder="Adı: "><br>
    <label for="lname"></label><br>
    <input type="text" id="lname" name="lname" placeholder="Soyadı: "><br>
    <label for="Onum"></label><br>
    <input type="text" id="Onum" name="Onum" placeholder="Numara:  "><br><br>
    <input type="submit" value="Submit">
</form>