@model Lesson2.Models.OgrenciViewModel

<h3>
    Kaydedilen Öğrenci Bilgileri
</h3>

<table>
    <tr>
        <td>Ogrenci Adı</td>
        <td>:</td>
        <td>@Model.OgrAdi</td>
    </tr>
    <tr>
        <td>Ogrenci Soyadı</td>
        <td>:</td>
        <td>@Model.OgrSoyadi</td>
    </tr>
    <tr>
        <td>Ogrenci No</td>
        <td>:</td>
        <td>@Model.OgrNo</td>
    </tr>
</table>